* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(222deg, 26%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;
}
body #container {
  width: 100%;
  max-width: 40rem;
  height: 48rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #container .calc_theme {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #container .calc_theme .calc {
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 100%);
}
body #container .calc_theme .theme {
  width: 100%;
  max-width: 15rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
body #container .calc_theme .theme .theme_text {
  font-size: 1rem;
  color: hsl(30deg, 25%, 89%);
}
body #container .calc_theme .theme .switch {
  width: 100%;
  max-width: 10rem;
  height: 7.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #container .calc_theme .theme .switch .switch_number {
  width: 100%;
  max-width: 5.6rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  color: hsl(30deg, 25%, 89%);
  font-weight: 400;
}
body #container .calc_theme .theme .switch #switch_option {
  width: 100%;
  max-width: 8rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 3.12rem;
  background-color: hsl(224deg, 36%, 15%);
}
body #container .calc_theme .theme .switch #switch_option #one {
  width: 100%;
  height: 2rem;
  background: hsl(6deg, 63%, 50%);
  border-radius: 1rem;
  border: none;
}
body #container .calc_theme .theme .switch #switch_option #two {
  width: 100%;
  height: 2rem;
  background-color: hsl(25deg, 98%, 40%);
  border-radius: 1rem;
  border: none;
  opacity: 0;
}
body #container .calc_theme .theme .switch #switch_option #three {
  width: 100%;
  height: 2rem;
  background-color: hsl(177deg, 92%, 70%);
  border-radius: 1rem;
  border: none;
  opacity: 0;
}
body #container #value {
  width: 100%;
  max-width: 39rem;
  height: 9rem;
  background-color: hsl(224deg, 36%, 15%);
  color: hsl(0deg, 0%, 100%);
  font-size: 3.5rem;
  text-align: end;
  padding: 0rem 3rem;
  border: none;
  border-radius: 0.7rem;
}
body #container #toggle {
  width: 100%;
  max-width: 39rem;
  height: 30rem;
  padding: 2rem;
  gap: 1.5rem;
  background-color: hsl(223deg, 31%, 20%);
  border: none;
  border-radius: 0.7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
body #container #toggle .number, body #container #toggle .number_point, body #container #toggle .number_barra, body #container #toggle .number_del, body #container #toggle .number_soma, body #container #toggle .number_sub, body #container #toggle .number_multiplicacao {
  width: 100%;
  height: 4rem;
  background-color: hsl(30deg, 25%, 89%);
  font-size: 2.3rem;
  color: hsl(223deg, 31%, 20%);
  border: none;
  border-radius: 0.4rem;
  border-bottom: 0.3rem hsl(28deg, 16%, 65%) solid;
  cursor: pointer;
  transition: 0.2s;
}
body #container #toggle .number:hover, body #container #toggle .number_point:hover, body #container #toggle .number_barra:hover, body #container #toggle .number_del:hover, body #container #toggle .number_soma:hover, body #container #toggle .number_sub:hover, body #container #toggle .number_multiplicacao:hover {
  background-color: hsl(0deg, 0%, 100%);
  transform: scale(1.01);
}
body #container #toggle .number_del {
  background-color: hsl(225deg, 21%, 49%);
  border-bottom: 0.3rem hsl(224deg, 28%, 35%) solid;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 3px;
  transition: 0.2s;
}
body #container #toggle .number_del:hover {
  background-color: hsl(225deg, 21%, 49%);
  opacity: 0.8;
  transform: scale(1.01);
}
body #container #toggle #reset {
  grid-column: 1/3;
  height: 4rem;
  font-size: 2.1rem;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(225deg, 21%, 49%);
  border: none;
  border-radius: 0.5rem;
  border-bottom: 0.3rem hsl(224deg, 28%, 35%) solid;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.2s;
}
body #container #toggle #reset:hover {
  opacity: 0.8;
  transform: scale(1.01);
}
body #container #toggle #igual {
  grid-column: 3/5;
  height: 4rem;
  font-size: 2.1rem;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(6deg, 63%, 50%);
  border: none;
  border-radius: 0.5rem;
  border-bottom: 0.3rem hsl(6deg, 70%, 34%) solid;
  cursor: pointer;
  transition: 0.2s;
}
body #container #toggle #igual:hover {
  opacity: 0.8;
  transform: scale(1.01);
}/*# sourceMappingURL=main.css.map */