//Theme 1

//Backgrounds
$very-dark-desaturated-blue: hsl(222, 26%, 31%);
$Very-dark-desaturated-blue: hsl(223, 31%, 20%);
$Very-dark-desaturated-blue : hsl(224, 36%, 15%);
//buttons
$Desaturated-dark-blue: hsl(225, 21%, 49%);
$Desaturated-dark-blue: hsl(224, 28%, 35%);
$Red: hsl(6, 63%, 50%);
$Dark-red: hsl(6, 70%, 34%);
$Light-grayish-orange: hsl(30, 25%, 89%);
$Grayish-orange: hsl(28, 16%, 65%);
//Text
$Very-dark-grayish-blue: hsl(221, 14%, 31%);
$White: hsl(0, 0%, 100%);

//Theme 2

//ackground theme 2
$Light-gray: hsl(0, 0%, 90%);
$Grayish-red: hsl(0, 5%, 81%);
$Very-light-gray: hsl(0, 0%, 93%);
//butttons
$Dark-moderate-cyan : hsl(185, 42%, 37%);
$Very-dark-cyan: hsl(185, 58%, 25%);
$Orange: hsl(25, 98%, 40%);
$Dark-orange: hsl(25, 99%, 27%);
$Light-grayish-yellow: hsl(45, 7%, 89%);
$Dark-grayish-orange: hsl(35, 11%, 61%);
//Text
$Very-dark-grayish-yellow: hsl(60, 10%, 19%);
$White: hsl(0, 0%, 100%);

//Theme 3

//Backgrounds
$Very-dark-violet: hsl(268, 75%, 9%);
$Very-dark-violet: hsl(268, 71%, 12%);
//buttons
$Dark-violet: hsl(281, 89%, 26%);
$Vivid-magenta: hsl(285, 91%, 52%);
$Pure-cyan: hsl(176, 100%, 44%);
$Soft-cyan: hsl(177, 92%, 70%);
$Very-dark-violet: hsl(268, 47%, 21%);
$Dark-magenta: hsl(290, 70%, 36%);
//Text
$Light-yellow: hsl(52, 100%, 62%);
$Very-dark-blue: hsl(198, 20%, 13%);
$White: hsl(0, 0%, 100%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}